<mat-toolbar color='primary' class='header box-shadow'>
  <a mat-icon-button routerLink='/'> <mat-icon>home</mat-icon> </a>

  <span class="spacer"></span>

  <a mat-button href="http://twitter.com/share?url=window.location.href&text={{title}}&hashtags=PikoApps" target="_blank">
    <mat-icon>share</mat-icon>ツイート
  </a>
  <a mat-button routerLink='/feedback'>
    <mat-icon>feedback</mat-icon>フィードバック
  </a>
</mat-toolbar>

<!--dummy-->
<mat-toolbar> </mat-toolbar>

<router-outlet></router-outlet>
